<!DOCTYPE>
<html>
  <head>
    <title>Nopaste</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= pub('stylesheets/normalize.css') %>" type="text/css">
    <link rel="stylesheet" href="<%= pub('stylesheets/styles.css') %>" type="text/css">
  <head>
  <body>
    <div class="main">
      <h1>Nopaste</h1>
      <%= yield %>
    </div>
  </body>
</html>
