<!DOCTYPE>
<html>
  <head>
    <title>Nopaste</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
  <head>
  <body>
    <div class="main">
      <h1>Nopaste</h1>
      <%= yield %>
    </div>
  </body>
</html>
