<div class="body">
  <dl>
    <dt>username</dt>
    <dd><%= @post.username %></dd>
    <dt>title</dt>
    <dd><%= @post.title %></dd>
    <dt>body</dt>
    <dd><pre><%= @post.body %></pre></dd>
  </dl>
</div>
